@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base { 
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
    }
}
.content-div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}
.project-tech-list {
    text-align: center;
    display: flex;
    flex-direction: row;
}

/* .react-tabs {
    display: flex;
    margin-left: 36px;
    width: 400px;
    height: 400px;
    border: 1px solid #3c3e43;
    color: white;
    background: #1c1d1f;
  }
  
.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    color: white;
    background: #3c3e43;
}

.react-tabs__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: #bbb;
}

.react-tabs__tab--selected {
    background: #1c1d1f;
    border-color: #1c1d1f;
    border-left: 4px solid #6eb800;
    color: white;
}

.react-tabs__tab-panel {
    display: none;
    width: 300px;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.react-tabs__tab {
    padding-left: 24px;
}

.react-tabs__tab--selected {
    padding-left: 21px;
}

.panel-content {
    text-align: center;
} */